#root {
  margin: 0 auto;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(211, 77%, 78%);
  font-family: sans-serif;
  --s: 65px; /* control the size */
  --c1: #dadee1;
  --c2: #4a99b4;
  --c3: #9cceb5;

  --_c: 75%, var(--c3) 52.72deg, #0000 0;
  --_g1: conic-gradient(from -116.36deg at 25% var(--_c));
  --_g2: conic-gradient(from 63.43deg at 75% var(--_c));
  background: var(--_g1), var(--_g1) calc(3 * var(--s)) calc(var(--s) / 2),
    var(--_g2), var(--_g2) calc(3 * var(--s)) calc(var(--s) / 2),
    conic-gradient(
      var(--c2) 63.43deg,
      var(--c1) 0 116.36deg,
      var(--c2) 0 180deg,
      var(--c1) 0 243.43deg,
      var(--c2) 0 296.15deg,
      var(--c1) 0
    );
  background-size: calc(2 * var(--s)) var(--s);
}

/*
.navbar {
  background-color: #333; 
  overflow: hidden;  Ensure that child elements do not overflow 
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.navbar a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

.navbar a:hover {
  background-color: #ddd; 
  color: black; 
}

.navbar .active {
  background-color: #4caf50; 
}
*/
/*create */
.opportunity-recipe {
  width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type='text'],
textarea {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #1f242d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #042141;
}
/*home*/
.opportunity-list {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 20px;
}

.opportunity-item {
  list-style: none;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}

.opportunity-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opportunity-details h2 {
  margin: 0;
}

.opportunity-thing {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.opportunity-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 10px;
}

.save-button {
  padding: 8px 16px;
  background-color: #60f4a7;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button.saved {
  background-color: #28a745;
}

.save-button:disabled {
  background-color: #898f93;
  cursor: not-allowed;
}

/*email*/
.email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0ce529;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.email-button:hover {
  background-color: #0056b3;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c3e8f5;
  padding: 10px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #373a3d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.part {
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.8);
}

/*navabar and shit*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar input[type='checkbox'],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: float;
  width: 100vw;
  background: #d8dfe3;
  color: #000;
  z-index: 100;
  margin: 0 auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  justify-content: space-around;
}
.logo {
  order: 1;
  font-size: 2.3rem;
}

.link {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  margin: 10px;
}

.navbar a {
  color: #353535;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #27b195;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type='checkbox'],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items .link {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type='checkbox']:checked ~ .logo {
    display: none;
  }
}

/*i dont know*/

.about-us-panel {
  width: 70%;
  margin: 15px auto;
  /* Panel background color */
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden; /* Prevent content from overflowing */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  justify-content: space-between;
  padding: 20px; /* Padding around content */
  background-color: rgba(255, 255, 255, 0.8);
}

.about-us-panel img {
  width: 100%; /* Image width fills the container */
  max-width: 500px; /* Set maximum image width */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Spacing below image */
  opacity: 1;
  padding: 0;
  margin: 0;
}

.about-us-content {
  flex: 1; /* Grow to fill remaining space */
  margin: 0 auto;
  text-align: center;
}

.about-us-content h2 {
  font-size: 40px; /* Heading font size */
  margin-bottom: 10px; /* Spacing below heading */
}

.about-us-content p {
  font-size: 16px; /* Paragraph font size */
  color: #666666; /* Text color */
}
